@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}

* {
  /* overflow-x: hidden; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ::-webkit-scrollbar {
  width: 0;
  height: 0;
} */

@keyframes imageMove {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(-20px);
  }
}
.anim {
  animation: imageMove linear 2s infinite alternate;
}


.mobileNav{
  width: 100vw;
  height: 100vh;
}

.hideMobileNav{
  transform: translateX(-100%);
}
.showMobileNav{
  transform: translateX(0);
}
